html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
*{
    box-sizing: border-box;
    text-decoration: none;
   
}
#main{
    display: flex;
    flex-direction: column;
}
.topbar{
    width: 100%;
    padding: 10px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center; 
    /* justify-content: center; */
    position: fixed;
}
.iconNav{
    padding: 10px;
    background: none;
    border: none;
    cursor:pointer;
}
#titleImage{
    padding: 10px;
    margin-left: 10px;
    
}
#Search{
    /* font-size: large; */
    padding: 8px;
    margin-left: 10vw;
    width: 45%;
    min-width: 100px;
}
.iconSearch{
    border-radius: 0;
    background: none;
    border: .2px solid rgba(134, 134, 134, 0.966);
    /* border-left: none; */
    /* padding: 13px; */
    background-color: rgba(235, 232, 232, 0.466);
    width: 60px!important;
    height: 36px;
    margin-left: -1px;
    cursor:pointer;
}
.iconVideo{
    border-radius: 0;
    background: none;
    border: none;   
    width: 60px; 
    margin-left: 20vw;
    cursor:pointer;
}
.iconBell{
    border-radius: 0;
    background: none;
    border: none;   
    width: 60px; 
    cursor:pointer;
}
#image{
    border-radius: 28px;
    cursor:pointer;
}
.container{
    display: flex;    
    margin-top: 50px;
}
.sideBar{ 
    display: flex;
    flex-direction: column;   
    /* height: 90vh; */
    /* flex: .18;     */
    width: 33vw;
    padding: 8px;
   min-width: 195px !important;
    overflow-y: scroll ;
    
}


.sideBarContent{
    padding: 12px;
    cursor:pointer;
}
.sideBarText{
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    
    margin-left: 20px;
}
.sideBarContent:hover{
background-color: rgba(194, 191, 191, 0.74);
}
.sideBarContent img{
    border-radius: 19px;
    height:18px;
    width: 18px;
}
.active{
    background-color: rgba(194, 191, 191, 0.74);
}
.border{
    border-bottom: 1px solid;
}
.heading{
    font-weight: 600!important;
    margin-left: 0;
    color: rgba(56, 52, 52, 0.952);
}


.mainContainer{    
    height: 90vh;
    /* flex: .82; */
    padding: 10px;
    padding-top: 0px;
    
    
}
.suggestion{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 35px;
   
    /* position: fixed; */
    border-top: 1px solid rgba(194, 191, 191, 0.74);
    border-bottom: 1px solid rgba(194, 191, 191, 0.74);
}
.suggestionElement{
background-color: rgba(194, 191, 191, 0.548);
border-radius: 18px;
padding: 10px 15px;
margin-left: 25px;
font-family: 'Roboto', sans-serif;
cursor:pointer;
}
.card{
    cursor:pointer;
    width: 250px;
    height: 300px;
    margin: 5px;
}
.card img{
    width: 250px;
    height: 160px;
}
.channelLogo{
    
    display: flex;
    
}
.channelLogo img{
    width: 35px;
    height: 35px;
    border-radius: 18px;
    margin: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 15px;
    
}
.text1{
    font-family: 'Roboto', sans-serif;
    color: rgb(19, 18, 18);
    display: flex;
    flex-direction: column;  
}
#videoTitle{
    padding: 10px 0;
    text-align: justify;
    padding-right: 5px;
    font-weight: 600;
}
.videoDis{
    font-size: 13px;
}
.videocontent{
    display: flex;
    align-items: flex-start;
   justify-content: space-evenly;
   flex-wrap: wrap;
   
    
    
}